[Desktop Entry]
Name=Sonar
Comment=Search file contents recursively under a folder
Exec=/mnt/projects/sonarex/start.sh
Icon=sonarex
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=sonarex
