[Desktop Entry]
Name=Sonar
Comment=Search file contents recursively under a folder
Exec=/home/clay/ferguson/projects/sonar/start.sh
Icon=sonarex
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=sonarex
